<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gada Electronics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha384-wq+QgMs1L5qF2RX4HJ3z99Jy37DO9K3NUry+rZhhRLtTNGfyNOdQzCLcF9ai+4+J"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gada Electronics</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav ms-auto me-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px;"
          >
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Products
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Smartphones</a></li>
                <li><a class="dropdown-item" href="#">Televisions</a></li>
                <li><a class="dropdown-item" href="#">Audio</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Computer</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Show All</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About</a>
            </li>

            {{#if user}}
              <li class="nav-item"><a
                  class="nav-link"
                  href="/profile"
                >Profile</a></li>
              <li class="nav-item"><a
                  class="nav-link"
                  href="/auth/logout"
                >Logout</a></li>
            {{else}}
              <li class="nav-item"><a
                  class="nav-link"
                  href="/login"
                >Login</a></li>
              <li class="nav-item"><a
                  class="nav-link"
                  href="/registration"
                >Register</a></li>
            {{/if}}

            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="aspect-ratio ratio-16x9">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="3000"
      >
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="content-container">
              <div class="overlay-text">
                <h1>Nothing Ear (2)</h1>
              </div>
              <img
                class="hero-image"
                src="/img/nothingear2.png"
                alt="Earbuds Image"
              />
              <div class="overlay-text-white">
                <h1>Nothing Ear (2)</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="content-container">
              <div class="overlay-text">
                <h1>Sony WH-1000XM5</h1>
              </div>
              <img
                class="hero-image"
                src="/img/sonyxm5.png"
                alt="Earbuds Image"
              />
              <div class="overlay-text-white">
                <h1>Sony WH-1000XM5</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="content-container">
              <div class="overlay-text">
                <h1>Airpods Pro</h1>
              </div>
              <img
                class="hero-image"
                src="/img/airpodspro.png"
                alt="Earbuds Image"
              />
              <div class="overlay-text-white">
                <h1>Airpods Pro</h1>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="product-container">
        <!-- Product Section 1 -->
        <div class="product-section" style="background-color: #424b54;">
          <div class="product-img">
            <img
              src="/img/iphone15pro.png"
              alt="Product C1"
              class="product-img"
            />
          </div>
          <h4>IPhone 15 Pro Max</h4>

        </div>

        <!-- Product Section 2 -->
        <div class="product-section" style="background-color: #a2a7a3;">
          <div class="product-img"><img
              src="/img/GooglePixel8Pro.png"
              alt="Product C3"
              class="product-img"
            />
          </div>
          <h4>Pixel 8 Pro</h4>
        </div>

        <!-- Product Section 3 -->
        <div class="product-section" style="background-color: #768682;">
          <div class="product-img">
            <img src="/img/s23ultra.png" alt="Product C2" class="product-img" />
          </div>
          <h4>Samsung S23 Ultra</h4>
        </div>
      </div>

    </div>

  </body>

</html>