<!-- views/products.hbs -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="/products.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gada Electronics</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="product-container">
      {{#each products}}
        <div class="product-card">
          <div class="product-image">
            <img src="/img/{{image}}" />
          </div>
          <div class="product-name">{{name}}</div>
          <div class="product-price">{{price}}</div>
          <button class="product-button" data-product-id="{{id}}">Buy Now</button>
        </div>
      {{/each}}
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => { const buttons =
      document.querySelectorAll('.product-button'); buttons.forEach(button => {
      button.addEventListener('click', async () => { const productId =
      button.getAttribute('data-product-id'); const response = await
      fetch('/cart', { method: 'POST', headers: { 'Content-Type':
      'application/json' }, body: JSON.stringify({ productId }) }); if
      (response.ok) { alert('Product added to cart!'); } else { alert('Failed to
      add product to cart!'); } }); }); });
    </script>
  </body>
</html>