body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.navbar {
  height: 80px;
  margin-bottom: 5%;
}
.navbar-brand {
  font-weight: bold;
  margin-left: 25px;
}
.navbar-nav > li {
  margin-right: 45px;
}
.cart-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.cart-total {
  text-align: right;
}
.checkout-btn {
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
